apiVersion: v1
kind: Service
metadata:
  name: {{{ APPLICATION }}}
spec:
  selector:
    application: {{{ APPLICATION }}}
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
  - name: https
    port: 443
    protocol: TCP
    targetPort: 8443